<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="Listeners.Listener"></listener>
    </listeners>
    <test name="Sign In">
        <classes>
            <class name="TestCases.SignIn"/>
        </classes>
    </test>
    <test name="Sign Up">
        <classes>
            <class name="TestCases.SignUp"/>
        </classes>
    </test>
    <test name="Tabs Validate">
        <classes>
            <class name="TestCases.TabsValidation"/>
        </classes>
    </test>
    <test name="Results Test">
        <classes>
            <class name="TestCases.Search"/>
            <class name="TestCases.FilterByPrice"/>
            <class name="TestCases.ServiceTypeValidation"/>
        </classes>
    </test>
</suite> <!-- Suite -->

